In [3]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
file_name = 'requirements.csv'
df = pd.read_csv(file_name)

In [18]:
df

      id                                        requirement
0      1  This programming may also demand integrating s...
1      2  Knowledge of electrolyser hydrogen production ...
2      3  Experience and knowledge of hydrogen fueling e...
3      4  Knowledge of hydrogen technologies and value p...
4      5  Materials, coatings, and inhibitors to use and...
..   ...                                                ...
346  347  Stakeholder consultations with engineering, pr...
347  348      Safety when working with or around hydrogen\n
348  349  Depending on the hydrogen-related product manu...
349  350  They will need an awareness of the changing ma...
350  351  Strong industry knowledge and experience with ...

[351 rows x 2 columns]

In [19]:
df['requirement'] = df['requirement'].str.replace(',', '').replace('.', '').replace('')

In [20]:
nan_rows = df.isna().all(axis=1)

# Display the result
print(nan_rows)

0      False
1      False
2      False
3      False
4      False
       ...
346    False
347    False
348    False
349    False
350    False
Length: 351, dtype: bool

In [ ]:

# Function to create list of column names with non-NaN values
def list_non_nan(row):
    l = [col for col in row.index if pd.notna(row[col]) and col != 'requirement']
    l = str(l)
    l = l.replace('[','')
    l = l.replace(']','')
    l = l.replace('\'','')
    l = l.replace(',',' <br> ')
    
    return l

# Apply function to each row and create a new column
df['Non_NaN_Columns'] = df.apply(list_non_nan, axis=1)

# Display the DataFrame
print(df)

In [ ]:
df['Non_NaN_Columns'].head()

In [ ]:
df['Sector'] = file_name.split('_')[-1].split('.')[0]

In [ ]:
meaningful_info = df[['Hydrogen Capabilities', 'Non_NaN_Columns', 'Sector']]

In [ ]:
meaningful_info.head()

In [ ]:
meaningful_info.to_csv(f'meaningful_info_{file_name.split("_")[-1].split(".")[0]}.csv', index=False)